<h1>Username: <%= @user.username %></h1>
<p>Email Address: <%= @user.email %></p>
<p>Password: <%= @user.password %></p>

<ul>
  <li><%= link_to "Edit", edit_user_path(@user) %></li>
  <li><%= link_to "Destroy", user_path(@user), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
  <li><%= link_to "Home", root_path %></li>
</ul>